# MacOS speficic
.DS_Store

# Compilation output
*.o
*.a
*.out
/objects
/objs

# Visual Studio Code
.vscode
!.vscode/launch.json
.vscode/*

#C lion
.idea/*
.idea/
/cmake-build-debug/
/cmake-build-debug/*
cmake-build-debug/

